/* general styling */
body{
    width: 100%;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

header,
main,
footer{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header{
    height: 7rem;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .logo img{
    width: 7rem;
    margin-left: 3rem;
}

header .btn{
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

header .btn button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    font-size: 1rem;
}

header .btn button a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

header .btn .orangebtn{
    padding: 0.7rem 4rem;
    background-image: linear-gradient(to right, #FF6E01, #FF0000);
    border: none;
}

header .btn .whitebtn{
    padding: 0.7rem 2.7rem;
    background-color: white;
}

header .btn .whitebtn i{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: black;
}

main{
    flex-direction: column;
    margin-top: 12rem;
    margin-bottom: 5rem;
}

footer{
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem;
    height: 25rem;
    background-color: black;
    box-sizing: border-box;
}

footer span{
    width: 23%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

footer span h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px 0px 10px;
}

footer span a{
    margin: 0px 0px 10px;
    font-weight: 100;
}

footer span img{
    width: 7rem;
}

footer span a{
    color: white;
    text-decoration: none;
}

footer span span{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

footer span span i{
    margin-right: 1rem;
}

footer span span p{
    margin: 0px;
}

/* Event Page */
.eventPage main section{
    width: 80%;
}

.eventPage main .intro h1{
    font-size: 3rem;
}

.eventPage main .selectCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    border-radius: 1rem;
    margin: 3rem 0rem;
    box-shadow: 0px 0px 15px 10px rgb(209, 208, 208);
}

.eventPage main .selectCenter h3{
    font-size: 1.7rem;
    line-height: 1rem;
}

.eventPage main .selectCenter p{
    width: 50%;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 1.2rem;
}

.eventPage main .selectCenter select{
    width: 20%;
    height: 2rem;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    margin: 2rem 0rem 1rem;
}

.eventPage main .selectCenter button{
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 0.7rem 4.3rem;
    border-radius: 7px;
    margin: 0.5rem 0rem 2rem;
}

.eventPage main section .grid-container{
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 3rem;
}

.eventPage main section .grid-container .grid-item{
    box-shadow: 0px 0px 15px 10px rgb(209, 208, 208);
    border-radius: 10px;
    overflow: hidden;
}

.eventPage main section .grid-container .grid-item h4{
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    background-color: #FF6E01;
}
.eventPage main section .grid-container .grid-item img{
    width: 100%;
}

.eventPage main section .grid-container .grid-item .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(56, 56, 56);
    margin: 0.5rem 1.5rem;
}

.eventPage main section .grid-container .grid-item .text h3{
    font-size: 2rem;
    margin: 0px;
    color: black;
}

.eventPage main section .grid-container .grid-item .text p{
    margin: 4px
}

.eventPage main section .grid-container .grid-item .text p span{
    font-weight: 600;
}

.eventPage main section .grid-container .grid-item .text button{
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #FF6E01;
    color: white;
    margin: 2rem 0rem;
}

/* Blog Page */
.blogPage main{
    margin-top: 7rem;
    align-items: center;
}

.blogPage main section{
    width: 80%;
}

.blogPage main .greySection{
    width: 100%;
    height: 5rem;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
}

.blogPage main .greySection div{
    width: 40%;
    height: 50%;
    margin-right: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.blogPage main .greySection h2{
    margin-left: 2rem;
    font-size: 2rem;
}

.blogPage main .greySection a{
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
}

.blogPage main .greySection a i{
    font-size: 1rem;
}

.blogPage main .greySection a.active{
    display: flex;
    flex-direction: column;
}

.blogPage main .blackSection{
    width: 100%;
    height: 20rem;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.blogPage main .blackSection h1{
    width: 40%;
}

.blogPage main .introSection{
    width: 80%;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blogPage main .introSection div{
    width: 50%;
    height: 80%;
    margin: 0px;
    position: relative;
}

.blogPage main .introSection .text{
    width: 40%;
    margin-right: 2rem;
}

.blogPage main .introSection .text h3{
    font-size: 3.5rem;
    margin: 0;
}

.blogPage main .introSection .text a{
    color: #FF0000;
}

.blogPage main .introSection div span{
    width: 30rem;
    height: 17rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #FF6E01, #FF0000);
    position: absolute;
    left: 0;
    top: 30px;
}

.blogPage main .introSection div img{
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.blogPage main section .grid-container{
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 2rem;
}

.blogPage main section .grid-container .grid-item{
    overflow-x: hidden;
    margin: 2rem 0rem;
}

.blogPage main section .grid-container .grid-item img{
    width: 100%;
    border-radius: 1rem;
}

.blogPage main section .grid-container .grid-item p{
    color: rgb(90, 90, 90);
}

.blogPage main section .grid-container .grid-item a{
    color: #FF0000;
}

.blogPage main .loadBtn{
    padding: 1rem 4rem;
    background-image: linear-gradient(to right, #FF6E01, #FF0000);
    border: none;
    border-radius: 10px;
    color: white;
}

.blogPage main .orangeSection{
    background-color: #FF6E01;
    color: white;
    margin-top: 3rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogPage main .orangeSection h3{
    font-size: 2.5rem;
    margin: 10px;
}

.blogPage main .orangeSection p{
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.blogPage main .orangeSection span input{
    width: 17rem;
    height: 2.5rem;
    border: none;
    background-color: #fb8d39;
    border-radius: 5px;
    padding-left: 1rem;
}

.blogPage main .orangeSection span button{
    padding: 0.6rem 3rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    font-size: 1.2rem;
}

/* Books and Merchant design */
.books main{
    position: relative;
}

.books .blackSection img{
    width: 8rem;
    height: 12rem;
    margin-right: 2rem;
}

.books .sectionTitle{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.books section .grid-container-one{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin-bottom: 5rem;
}

.books section .grid-container-one .book{
    position: relative;
    background-color: white;
    width: 100%;
    height: 12rem;
    box-shadow: 0px 0px 15px 10px rgb(209, 208, 208);
}

.books section .grid-container-one .book span{
    width: 70%;
    height: 10rem;
    position: absolute;
    right: 1rem;
}
.books section .grid-container-one .book span h3{
    margin: 10px 0px;
}

.books section .grid-container-one .book span p{
    /* width: 70%; */
    font-size: 0.6rem;
    margin: 5px 0px;
}

.books section .grid-container-one .book span p.p{
    margin: 5px 0px;
    font-weight: 600;
}

.books section .grid-container-one .book span button{
    width: 90%;
    height: 2rem;
    border: 1px solid #FF6E01;
    background-color: #fdd5b6;
    color: #FF6E01;
    border-radius: 5px;
}

.books section .grid-container-one .book span button:hover{
    border: none;
    background-color: #FF6E01;
    color: white;
}

.books section .grid-container-one .book img{
    position: absolute;
    height: 9rem;
    width: 6rem;
    top: 1.5rem;
    left: -3rem;
}

.books section .grid-container-one .merch{
    position: relative;
}

.books section .grid-container-one .merch img{
    width: 100%;
    height: 20rem;
}

.books section .grid-container-one .merch button{
    position: absolute;
    /* display: none; */
    top: 15rem;
    width: 90%;
    height: 3rem;
    left: 1rem;
    background-color: black;
    color: white;
    border: none;
}

.books main .cart{
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    background-color: rgb(210, 209, 209);
    color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books main .cart p{
    margin: 0;
}

.books main .cart sup{
    position: fixed;
    bottom: 5.5rem;
    right: 4rem;
    background-color: black;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
}

/* Serve Page */
.servePage .serveIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.servePage .serveIntro h2{
    font-size: 2.5rem;
    margin: 0.5rem;
}

.servePage .serveIntro p{
    width: 50%;
    text-align: center;
}

.servePage .serveIntro h6{
    font-size: 1.1rem;
    margin: 0rem;
}

.servePage .grid-container .serve{
    box-shadow: none !important;
    padding: 0px !important;
    text-align: left;
    border-radius: 0 !important;
}

.servePage .grid-container .serve img{
    border-radius: 1rem;
}

.servePage .grid-container .serve .text{
    padding: 0 !important;
    margin: 0px !important;
}

.servePage .grid-container .serve .text a{
    text-decoration: none;
    color: #FF0000;
}

.servePage .unitInfo{
    margin-top: 5rem;
}

.testimonies .testimonyIntro{
    text-align: center;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonies .testimonyIntro h1{
    font-size: 2.5rem;
    width: 40%;
    margin: 0.2rem;
}

.testimonies .testimonyIntro p{
    margin: 0.2rem;
}

.testimonies section .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 3rem !important;
}

.testimonies section .grid-container .grid-item{
    border-radius: 1rem;
    height: 16rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px 5px gray;
    position: relative;
}

.testimonies section .grid-container .grid-item .testimonies-grid h2{
    font-size: 4rem;
    color: #FF0000;
    margin-bottom: 0px;
    line-height: 0px;
}

.testimonies section .grid-container .grid-item .testimonies-grid p{
    margin: 10px;
}

.testimonies section .grid-container .testimonies-grid img{
    height: 3rem;
    width: 3rem !important;
    border-radius: 20rem !important;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}

.testimonies section .grid-container .testimonies-grid .userProfile{
    position: absolute;
    bottom: 2rem;
    right: 8rem;
    text-align: left !important;
}

.testimonies section .grid-container .testimonies-grid .userProfile h3{
    margin: 0px;
}

.testimonies section .grid-container .testimonies-grid .userProfile p{
    margin: 0px;
}

.testimonies .sectionTitle{
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
}

.grid-item-one{
    grid-area: one !important;
}

.grid-item-two{
    grid-area: two !important;
}

.grid-item-three{
    grid-area: three !important;
}

.grid-item-four{
    grid-area: four !important;
}

.grid-item-five{
    grid-area: five !important;
}

.grid-item-six{
    grid-area: six !important;
}

.grid-item-seven{
    grid-area: seven !important;
}

.grid-item-eight{
    grid-area: eight !important;
}
.grid-item-nine{
    grid-area: nine !important;
}

.testimonies .testimony-grid-container{
    height: auto;
    display: grid;
    grid-template-areas: 
        'one one two three'
        'four seven six six'
        'five seven eight nine';
    gap: 1rem;   
}


.testimonies .testimony-grid-container .testmony-grid-item{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.testimonies .testimony-grid-container .testmony-grid-item img{
    width: 100%;
    height: 100%;
}


/* for tablet size screen */
@media screen and (max-width: 750px) {
    /* general styling */
    header,
    main,
    footer{
        width: 100dvw;
        margin: 0;
    }

    header{
        height: 4rem;
    }

    header .logo img{
        width: 4rem;
        margin-left: 1rem;
    }

    header .btn{
        width: 30%;
        margin: 0;
    }

    header .btn button{
        border-radius: 10px;
        font-size: 0.7rem;
    }

    header .btn button a{
        font-size: 0.7rem;
    }

    header .btn .orangebtn{
        padding: 0.1rem 2rem;
    }

    header .btn .whitebtn{
        padding: 0.3rem 1rem;
    }

    header .btn .whitebtn i{
        font-size: 1rem;
    }

    main{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    footer span h1{
        font-size: 1rem;
    }

    footer span img{
        width: 7rem;
    }

    footer span a{
        color: white;
        text-decoration: none;
    }

    footer span span{
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Event Page */
    .eventPage main .selectCenter h3{
        margin-top: 2rem;
        line-height: 25px;
        text-align: center;
    }

    .eventPage main .selectCenter select{
        margin: 1rem 0rem 1rem;
    }

    .eventPage main section .grid-container{
        grid-template-columns:  1fr 1fr;
    }

    /* Blog Page */
    .blogPage main{
        margin-top: 3rem;
        align-items: center;
    }

    .blogPage main .greySection div{
        height: 20%;
    }

    .blogPage main .greySection h2{
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .blogPage main .greySection a{
        font-size: 0.75rem;
    }

    .blogPage main .greySection a i{
        font-size: 0.7rem;
    }

    .blogPage main .blackSection{
        height: 15rem;
    }

    .blogPage main .introSection{
        height: 20rem;
    }

    .blogPage main .introSection div{
        width: 50%;
        height: 80%;
        margin: 0px;
        position: relative;
    }

    .blogPage main .introSection .text h3{
        font-size: 2rem;
        margin: 0;
    }

    .blogPage main .introSection div span{
        width: 15rem;
        height: 10rem;
    }

    .blogPage main .introSection div img{
        width: 15rem;
        height: 10rem;
    }

    .blogPage main section .grid-container{
        grid-template-columns:  1fr 1fr;
    }

    /* Books and Merchant design */
    .books section .grid-container-one{
        grid-template-columns: 1fr 1fr;
    }
    
    /* Serve Page */
    .servePage .grid-container .serve span .text h3{
        top: 7rem;
    }
}

@media screen and (max-width: 450px) {
    /* general styling */
    header,
    main,
    footer{
        width: 100dvw;
        margin: 0;
    }

    header .btn{
        width: 43%;
        margin: 0;
    }

    header .btn button a{
        font-size: 0.7rem;
    }

    main{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    footer{
        flex-direction: column;
        height: fit-content;
    }

    footer span h1{
        font-size: 1rem;
    }

    
    footer span{
        width: 90%;
        margin-bottom: 2rem;
    }

    /* Event Page */
    .eventPage main .intro h1{
        font-size: 1.8rem;
    }

    .eventPage main .selectCenter h3{
        width: 80%;
        margin-top: 2rem;
        line-height: 25px;
        text-align: center;
        font-size: 0.98rem;
    }

    .eventPage main .selectCenter p{
        width: 80%;
        font-size: 0.7rem;
    }

    .eventPage main .selectCenter select{
        margin: 1rem 0rem 1rem;
        width: 50%;
    }

    .eventPage main section .grid-container{
        grid-template-columns:  1fr;
    }

    /* Blog Page */
    .blogPage main{
        margin-top: 3rem;
        align-items: center;
    }

    .blogPage main .greySection div{
        height: 20%;
    }

    .blogPage main .greySection h2{
        margin-left: 1rem;
        font-size: 1.1rem;
    }

    .blogPage main .greySection a{
        font-size: 0.5rem;
    }

    .blogPage main .greySection a i{
        font-size: 0.7rem;
    }

    .blogPage main .blackSection{
        height: 15rem;
    }

    .blogPage main .blackSection h1{
        font-size: 1rem;
    }

    .blogPage main .introSection{
        height: 20rem;
    }

    .blogPage main .introSection div{
        width: 40%;
        height: 60%;
        margin: 0px;
        position: relative;
    }

    .blogPage main .introSection .text{
        width: 60%;
    }

    .blogPage main .introSection .text h3{
        font-size: 0.97rem;
        margin: 0;
    }

    .blogPage main .introSection .text p{
        font-size: 0.3;
    }

    .blogPage main .introSection div span{
        width: 10rem;
        height: 7rem;
        top: 2rem;
        left: -1rem;
    }

    .blogPage main .introSection div img{
        width: 10rem;
        height: 7rem;
        bottom: 2rem;
        right: -2rem;
    }

    .blogPage main section .grid-container{
        grid-template-columns:  1fr;
    }

    /* Books and Merchant design */
    .books section .grid-container-one{
        grid-template-columns: 1fr;
    }
    
    /* Serve Page */
    .servePage .grid-container .serve span .text h3{
        top: 10rem;
        text-align: center;
        left: 3rem;
    }
}